*,*::before,*::after{
    box-sizing: border-box;
}

:root {
    --bear-body-color: #D59729;
    --bear--border-color: 10px solid #000000;
}

body {
    background-color: #5C5E6B;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bear {
    position: relative;
    width: 400px;
    height: 380px;
}

@media screen and (max-width: 768px){
    .bear {
        transform: scale(0.85);
    }
    
}

.bear .ear {
    position: absolute;
    top: 0;
    width: 100px;  
    height: 100px;
    border: var(--bear--border-color);
    background: var(--bear-body-color);
    border-radius: 50%;
}

.bear .ear.left {
    left: 40px;
}

.bear .ear.right {
    right: 40px;
}

.bear .face {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 367px;
    border-radius: 50%;
    border: var(--bear--border-color);
    background: var(--bear-body-color);
}

.bear .eyebrow {
    position: absolute;
    top: 106px;
    width: 78px;
    height: 14px; 
    border-radius: 14px;
    background: #000000;
    transition: all 0.2s;
}

.bear .eyebrow.left {
    left: 68px;
}

.bear .eyebrow.right {
    right: 68px;
}

.bear .eye {
    position: absolute;
    top: 147px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #000000;
    transition: all 0.2s;
}

.bear .eye.left {
    left: 98px;
}

.bear .eye.right {
    right: 98px;
}

.bear .nose {
    position: absolute;
    top: 184px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 33px;
    border-radius: 80% 80% 100% 100%;
    background: #000000;
    z-index: 2;
}

.bear .mouth {
    position: absolute;
    top: 191px;
    right: 73px;
    width: 73px;
    height: 68px;
    border: var(--bear--border-color);
    border-radius: 50%;
    background-color: #FFFFFF;
}

.bear .mouth.left {
    left: 127px;
}

.bear .mouth.right {
    right: 127px;
}

.bear .mouth::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 33px;
    background: #FFFFFF;
    transform: rotate(-45deg);
    z-index: 1;
}

.bear .mouth.left::before {
    top: 2px;
    left: 29px;
}

.bear .mouth.right::before {
    top: 2px;
    right: 32px;
}

.bear:hover .eyebrow.right {
    transform: rotate(-10deg);
}

.bear:hover .eyebrow.left {
    top: 100px;
}

.bear:hover .eye.right {
    transform: scale(2, 0.1);
}